<html>

<body>

  <h1>Manage Password</h1>
  {% if message%}
  {{message}}
  {% endif %}
  <form action="/login/generate" method="POST">{% csrf_token %}
    <label for="faculty_id">Username</label>
    <input type="text" value="{{faculty_id}}" name="faculty_id" id="faculty_id" required>
    <input type="hidden" value="{{phone}}" name="phone">
    <button type="submit">Get OTP</button>
  </form><br />
  {% if sent %}

  OTP sent to: {{phone}} :
  <form action="/login/verify" method="POST">{% csrf_token %}
    <label for="otp">OTP</label>
    <input type="text" name="otp" id="otp" required>
    <input type="hidden" value="{{phone}}" name="phone">
    <input type="hidden" value="{{faculty_id}}" name="faculty_id">
    <button type="submit">Verify</button>
  </form>
  {% endif %}

</body>

</html>